.profileScreen {
    height: 100vh;
    color: white;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;

}

.profileScreen__body {
    display: flex;
    flex-direction: column;
    width: 35%;
    min-width: 450px;

    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    max-width: 800px;
}

.profileScreen__info {
    display: flex;
}

.profileScreen__info > img {
    height: 100px;
}

.profileScreen__body > h1 {
    font-size: 40px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}

.profileScreen__details {
    color: white;
    margin-left: 25px;
    flex: 1;
} 

.profileScreen__details > h2 {
    background-color: rgba(128, 128, 128, 0.544);
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}

.profileScreen__signOut {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.profileScreen__info > .profileScreen__imageContainer > img {
    height: 100px;
}

.profileScreen__plans{
    margin-top: 20px;
}
 
.profileScreen__plans > h3 {
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}



@media only screen and (max-width: 600px){
    .profileScreen__details {
        flex:none;
    }
    .profileScreen {
        margin-left: 15%;
    }
    .profileScreen__body > h1 {
        font-size: 2rem;
        width: 65vw;
    }


    .profileScreen__info > .profileScreen__imageContainer > img {
        display: none;
    }

    .profileScreen__details > h2 {
        font-size: 1rem;
        width: 61vw;
        margin-left: -25px;
        padding-right: 0px;
      }

    .plansScreen__plan {
        padding: 5px;
        opacity: 0.8;
        width: 65vw;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .profileScreen__plans > h3 {
        font-size: 1rem;
        width: 65vw;
        margin-left: -25px;
      }
    .plansScreen__plan > button {
        width: 40%;

    }

}

@media only screen and (max-width: 420px){
    .profileScreen__signOut {
        margin-left: -14%;
    }

    .plansScreen__plan > button {
        width: 45%;
    }
}